<h1>List of all Companies</h1>
<div class="container">
<Fieldset>
  <legend class="text-center">List of the all companies with their latest stock price.</legend>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company name</th>
        <th scope="col">Code</th>
        <th scope="col">CEO</th>
        <th scope="col">Turnover</th>
        <th scope="col">Website</th>
        <th scope="col">Enlisted Stock Exchange</th>
      
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responseCompanies">
        <td>{{response.companyName}}</td>
        <td>{{response.companyCode}}</td>
        <td>{{response.companyCEO}}</td>
        <td>{{response.companyTurnover | currency}}</td>
        <td>{{response.companyWebsite}}</td>
        <td>{{response.stockExchange}}</td>
        <td><i class="fa fa-trash" style="font-size:20px; color:red; cursor: pointer;"
            (click)="deleteCompany(response.companyCode)"></i></td>
        <td>
          <!-- <a routerLink="edit/{{response.company.code}}}"> -->
          <a routerLink="edit/{{response.companyCode}}">
            <i class="fa fa-edit" style="font-size:20px; color:blue;"></i>
          </a>
        </td>

        <!-- <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td> -->
      </tr>


    </tbody>
  </table>
</div>
</Fieldset>
</div>
