<h1>List of all Companies</h1>
<div class="container">
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success !</strong> Company has been deleted.
    <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<Fieldset>
  <legend class="text-center">List of the all companies with their latest stock price.</legend>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Company name</th>
        <th scope="col">Code</th>
        <th scope="col">CEO</th>
        <th scope="col">Turnover</th>
        <th scope="col">Website</th>
        <th scope="col">Enlisted Stock Exchange</th>
        <!-- <th scope="col">Latest Stock Price</th> -->
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let response of responseCompanies">
        <td>{{response.company.companyName}}</td>
        <td>{{response.company.companyCode}}</td>
        <td>{{response.company.companyCEO}}</td>
        <td>{{response.company.companyTurnOver | currency}}</td>
        <td>{{response.company.companyWebsite}}</td>
        <td>{{response.company.stockExchange}}</td>
        <!-- <td>{{response.stock.currentPrice}}</td> -->
        <td><i class="fa fa-trash" style="font-size:20px; color:red; cursor: pointer;"
            (click)="deleteCompany(response.company.companyCode)"></i></td>
        <td>
        </td>
      </tr>


    </tbody>
  </table>

</div>
</Fieldset>
</div>
